/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: url('');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
  overflow: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: black;
}

/* Control the right side */
.right {
  right: 0;
  background-color: black;
}

.viewframe {
  position: absolute;
  border-style: none;
  height: 100%;
  width: 100%;
  top: 50%;
  overflow: hidden;
  margin: 0;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
